<p>This is speces Index</p>
<p>There are: <%= @spaces.count %> spaces available<p>


  <% @spaces.each do |space| %>


<p>This property belongs to <%= space.user.name %></p>
<p><%= space.name %></p>
<p><%= space.city %></p>
<p><%= space.price %></p>
<p>Available From<%= space.startDate %></p>
<p>Available To<%= space.endDate %></p>


  <img src="<= space.image =>" alt ="">


  <% end %>
