
<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-12">

  <form method='post' action='/filtered'>

    Please select from the available tags, and dates:
    <table class="table">
    <tr>
      <td><input type="checkbox" id="Pool" name="tags[]" value="true">
      <label for="Pool">Pool</label></td>
      <td><input type="checkbox" id="Terrace" name="tags[]" value="true">
      <label for="Terrace">Terrace</label></td>
      <td><input type="checkbox" id="Studio" name="tags[]" value="true">
      <label for="Studio">Studio</label></td>
      <td><input type="checkbox" id="Appartment" name="tags[]" value="true">
      <label for="Appartment">Appartment</label></td>
    </tr>
    <tr>
      <td><input type="checkbox" id="AC" name="tags[]" value="true">
      <label for="AC">AC</label></td>
      <td><input type="checkbox" id="Wifi" name="tags[]" value="true">
      <label for="Wifi">Wifi</label></td>
      <td><input type="checkbox" id="Balcony" name="tags[]" value="true">
      <label for="Balcony">Balcony</label></td>
      <td><input type="checkbox" id="Close_to_beach" name="tags[]" value="true">
      <label for="Close_to_beach">Close to beach</label></td>

    </tr>
    </table>
    <input type="submit" value="Filter">

  </form>

  <div class="col-xs-6 col-md-6 text-left">
    <label for="start_date">Available from:</label>
    <input type="date" id="start_date" name="start_date" width="200">

    <label for="start_date">Available to:</label>
    <input type="date" id="end_date" name="end_date" width="200">

    <p>Total available spaces: <%= @spaces.count %>, see all below</p>
  </div>

  </div>
</div>

<div class="col-xs-6 col-md-6 text-left">
  <div class="row">

  <%@spaces.each do |space| %>
    <div class="col-sm-4 col-md-6">
      <p>This property belongs to <%= space.user.name %></p>
      <p><%= space.name %></p>
      <img src="<= space.image.first =>" alt ="">
      <p><%= space.city %></p>
      <p>Price per night: £ <%= space.price %></p>
      <p>Number of images: <%= space.images.count %></p>
      <p>Available From: <%= space.startDate %></p>
      <p>Available To: <%= space.endDate %></p>
      <p><a href="/requests/new/<%= space.id %>">Book This Space</a></p>
    </div>
    <% end %>
  </div>
</div>
</div>
