<div class="container">

<div class="row">
<p class="primary">You have <%= current_user.spaces.length %> spaces listed </p>
<span class=glyphicon glyphicon-object-align-right></span>
</div>

<div class="row">

  <% if current_user.spaces.length > 0 %>

  <% current_user.spaces.each do |space| %>

  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/200x200" alt="...">
    </a>
    <div style="margin-left:40px;">
      <p> <%= space.city %> </p>
      <p> <%= space.name %> </p>
      <p> <%= space.price %> </p>
      <p> <%= space.description %> </p>
      <p>Number of bookings (<%= space.requests.count %>)</p>
    </div>
  </div>

  <% end %>

  <% end %>

</div>


<div class="row">
  <div class="col-xs-4 col-md-4">

  </div>
</div>


</div> <!-- close container -->
